.img {
    position: relative;
    width: 90%;
    height: 400px;
}

.locationCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid orange;
    border-radius: 10px;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rating{
    align-items: center;
    display: flex;
    justify-content: center;
}

.locationDetails {

}

.categories {
    font-size: 12px;
    display: inline;
}