.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    border: 1px solid orange;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgContainer {
    position: relative;
    width: 90%;
    height: 400px;
}

.img {
    object-fit: contain;
}

.footer {
display: flex;
flex-direction: column;

border: 1px solid blue;
}