.container {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    border: 1px solid orange;
}

.imgContainer {
    flex: 1;
    position: relative;

    height: calc(100vh - 200px);
}

.img {
    object-fit: contain;
}

.textContainer {
    flex: 2;
    flex-direction: column;
    gap: 50px;
}