.container {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    padding: 15px;
    border: 1px solid orange;
}

.imgContainerBig {
    flex: 1;
    position: relative;

    height: calc(100vh - 200px);
}

.imgContainerSmall {
    display: none;
}

.img {
    object-fit: contain;
}

.textContainer {
    flex: 2;
    flex-direction: column;
    gap: 50px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .imgContainerBig {
        display: none;
    }
    
    .imgContainerSmall {
        flex: 1;
        position: relative;
    }
}