.reviewCard { 
    border: 1px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 1rem;
    width: 95vw;
    margin: auto; 
    margin-bottom: 1vh;
}

.reviewContainer { 

    width: 95vw;
    margin: auto; 

}

.button{
    border-radius: 30px;
    cursor: pointer;
    width: 6vw;
    height: 4vh;
    background-color:#cdb4db;
    border:none;
    color:#000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}