.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.form input {
    padding: 20px;
    border: none;
    border-radius: 5px;
}

.form button {
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}