.button {
    background-color: whitesmoke;
    color: black;
    padding: 5px;
    border-radius: 5px;
}


.button:hover {
    transform: translateY(2px);
    background-color: #f44566; 
}

.active {
    background-color: rgb(172, 26, 172);
    color: var(--bg);
}

.hidden {
    display: none;
}