@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8eb5f048;
    margin-bottom: 10vh
}

main {
    margin-bottom: 25vh;
    margin-top: 10vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
