.container{
    height: 10vh;

    background-color: rgb(140, 137, 137);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 5vw;
    padding-right: 5vw;

    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}



.logo{
    width: 10vh;

}

.header{
    padding-top: 2vh;
    width: 35vh;
}

.heading{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .header{
        width: 20vh;
    }
}