.container { 
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 3vh;
}