.popupWrapper{
    display: flex;
    flex-direction: row;
    max-width: 300px;
}

.popText{
    display:flex;
    flex-direction:column;
    margin:10px;
}

.directions{
    width:fit-content;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.directions:hover {
    color: blue;
}