.container {
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
    width: 16vh;
}


.container:hover {
    transform: translateY(2px);
    background-color: #f44566; 
}

.active {
    background-color: rgb(172, 26, 172);
    color: var(--bg);
}

@media screen and (max-width: 500px) {
    .container{
        width: 20vw;
    }
}

@media screen and (max-width: 300px) {
    .container{
        font-size: 12px;
        width: 20vw;
    }
}